#mainContent{
	margin-top: 15%;
}

#maincontent{
	text-align: center;
}

#statusText{
	height: 18px;
}

#hangmanBox{
	text-align: center;
	border: 1px solid;
	display: block;
	margin: auto;
	padding-top: 2px;
	height: 340px;
	width: 210px;
}

#canvas{
	border: 1px solid;
	display: block;
	margin: auto;
}

#inputArea{
	padding-top: 5px;
	text-align: center;
	display: block;
	margin: auto;
}

#inputString{
	width: 30px;
}

#resetButton{
	display: block;
	margin: auto;
}

#buttonDiv{
	padding-top: 5px;
}