#mainContent{
	
}

#maincontent{
	text-align: center;
}

#statusText{
	height: 18px;
}

#hangmanBox{
	background-color: white;
	text-align: center;
	border: 1px solid;
	display: block;
	margin: auto;
	padding-top: 2px;
	height: 340px;
	width: 210px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 5px;
}

#canvas{
	border: 1px solid;
	display: block;
	margin: auto;
}

#inputArea{
	padding-top: 5px;
	text-align: center;
	display: block;
	margin: auto;
}

#inputString{
	width: 30px;
}

#resetButton{
	display: block;
	margin: auto;
}

#buttonDiv{
	padding-top: 5px;
}