#mainContent{
	margin-top: 15%;
}


#hangmanBox{
	border: 1px solid;
	display: block;
	margin: auto;
	height: 310px;
	width: 210px;
}

#canvas{
	border: 1px solid;
	display: block;
	margin: auto;
}

#inputArea{
	padding-top: 5px;
	text-align: center;
	display: block;
	margin: auto;
}

#inputString{
	width: 30px;
}

#resetButton{
	display: block;
	margin: auto;
}

#buttonDiv{
	padding-top: 5px;
}